/* 
:root {
    --bg-dark: #0f172a;
    --bg-card: #1e293b;
    --bg-darker: #0b1120;
    --primary: #38bdf8; /* آبی روشن و درخشان (Sky Blue) */
    /* --secondary: #0ea5e9; /* آبی عمیق‌تر برای کنتراست */
    /* --text-main: #f1f5f9; */
    /* --text-muted: #94a3b8;
    --gradient: linear-gradient(135deg, #38bdf8 0%, #0ea5e9 100%);
} */ */ */
